<ion-content>
    <ion-item lines="none" class="logo_image">
      <ion-img src="/assets/wly.png"></ion-img>
    </ion-item>
  
    <ion-text color="dark ion-text-center">
      <h2>Enter Subdomain</h2>
      <p>Enter your workspace's welikeyou Url</p>
    </ion-text>
  
    <div class="workspaceurl ion-text-center">
      <input type="text" name="" id="subdomain">
      <label for="">.welikeyou.nl</label>
    </div>
  
    <div style="padding: 0 40px; margin-top: 30px;">
        <ion-button expand="block" (click)="dosignin()">Continue</ion-button>
    </div>
    
    
  </ion-content>